.title {
  text-align: center;
  color: blue;
}

div {
  background-color: lightblue;
  border: 2 px solid black;
  padding: 5;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 40%;
  text-align: center;
}
th {
  background-color: lightgray;
}

th, td {
  border: 1px solid black;
  padding: 7px;
}
